<template>
    <v-layout justify-space-between wrap>
        <v-flex xs12 sm6>
            <v-date-picker
                    :first-day-of-week="1"
                    locale="tr-tr"
                    landscape
                    full-width
                    v-model="picker"
            ></v-date-picker>
        </v-flex>
        <v-flex xs12 sm6>
            <v-card>
                <v-card-text>
                    <v-select
                            :items="items"
                            v-model="e1"
                            label="Select"
                            single-line
                    ></v-select>
                    <v-select
                            :items="items"
                            v-model="e1"
                            label="Select"
                            single-line
                    ></v-select>
                    <v-select
                            :items="items"
                            v-model="e1"
                            label="Select"
                            single-line
                    ></v-select>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        data () {
            return {
                picker: null,
                items: [
                    { text: 'State 1' },
                    { text: 'State 2' },
                    { text: 'State 3' },
                    { text: 'State 4' },
                    { text: 'State 5' },
                    { text: 'State 6' },
                    { text: 'State 7' }
                ],
            }
        }
    }
</script>