body {
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}
.yukari-cek {
    margin-top: -0.55rem;
}
.yukari-cek-2 {
    margin-top: -1.75rem;
}
.asagi-indir {
    margin-top: 0.55rem;
}