<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Bölüm Türü Adı"
                        v-model="veriler.bolum_turu_adi"
                        :rules="bolum_turu_adi_rules"
                        :counter="20"
                        required
                ></v-text-field>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelDuzenleMixin from '../../mixins/mainPanel/DuzenleMixin'
    export default {
        mixins: [ mainPanelDuzenleMixin ],
        data: () => ({
            selfData: {},
            selfID: null,

            apiResource: 'bolumturu',
            placeToReturn: 'bolumTuruIndex',

            veriler: {
                bolum_turu_adi: '',
            },

            bolum_turu_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 20) || 'Karakter Sınırını Aştınız.'
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Bölüm Türleri',
                    disabled: false,
                    to: "/bolumturu"
                },
                {
                    text: 'Düzenle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
        methods: {
            swap() {
                let app = this;

                app.veriler.bolum_turu_adi = app.selfData.bolum_turu_adi;
            }
        }
    }
</script>