<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Bölüm Adı"
                        v-model="veriler.bolum_adi"
                        :rules="bolum_adi_rules"
                        :counter="50"
                        required
                ></v-text-field>
                <v-select
                        :items="gerekliVeriler.okul.data"
                        v-model="veriler.okul_id"
                        :rules="okul_id_rules"
                        label="Okul Seç"
                        item-text="okul_adi"
                        item-value="id"
                ></v-select>
                <v-select
                        :items="gerekliVeriler.bolum_turu.data"
                        v-model="veriler.bolum_turu_id"
                        :rules="bolum_turu_id_rules"
                        label="Bölüm Türü Seç"
                        item-text="bolum_turu_adi"
                        item-value="id"
                ></v-select>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelEkleMixin from '../../mixins/mainPanel/EkleMixin'
    export default {
        mixins: [ mainPanelEkleMixin ],
        data: () => ({
            apiResource: 'bolum',
            placeToReturn: 'bolumIndex',

            veriler: {
                bolum_adi: '',
                okul_id: null,
                bolum_turu_id: null,
            },

            gerekliVeriler: {
                okul: {
                    data: [],
                    apiResource: 'okul',
                    errorReturn: 'okulIndex',
                    errorMessages: "Bölüm eklemek için öncelikle Okul eklemeniz gerekir."
                },
                bolum_turu: {
                    data: [],
                    apiResource: 'bolumturu',
                    errorReturn: 'bolumTuruIndex',
                    errorMessages: "Bölüm eklemek için öncelikle Bölüm Türü eklemeniz gerekir."
                }
            },

            bolum_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 50) || 'Karakter Sınırını Aştınız.'
            ],
            okul_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
            ],
            bolum_turu_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Bölümler',
                    disabled: false,
                    to: "/bolum"
                },
                {
                    text: 'Ekle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
    }
</script>