// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
//Material Icons
@import '~material-icons/css/material-icons.css';
//Vuetify
@import "~vuetify/dist/vuetify.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.breadcrumbs-my-style {
  margin-left: 15px;
  margin-bottom: -5px;
}