<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Sınav Alanı Adı"
                        v-model="veriler.sinav_alani_adi"
                        :rules="sinav_alani_adi_rules"
                        :counter="40"
                        required
                ></v-text-field>
                <v-text-field
                        label="Sınav Alanı Katı"
                        v-model="veriler.sinav_alani_kati"
                        :rules="sinav_alani_kati_rules"
                        :counter="30"
                        required
                ></v-text-field>
                <v-text-field
                        label="Sınav Alanı Kodu"
                        v-model="veriler.sinav_alani_kodu"
                        :rules="sinav_alani_kodu_rules"
                        :counter="30"
                        required
                ></v-text-field>
                <v-text-field
                        label="Sınav Alanı Kapasitesi"
                        v-model="veriler.sinav_alani_kapasitesi"
                        :rules="sinav_alani_kapasitesi_rules"
                        required
                ></v-text-field>
                <v-text-field
                        label="Sınav Alanı Gerekli Görevli Sayısı"
                        v-model="veriler.sinav_alani_gerekli_gorevli_sayisi"
                        :rules="sinav_alani_gerekli_gorevli_sayisi_rules"
                        required
                ></v-text-field>
                <v-select
                        :items="gerekliVeriler.yerleske.data"
                        v-model="veriler.yerleske_id"
                        :rules="yerleske_id_rules"
                        label="Yerleşke Seç"
                        item-text="yerleske_adi"
                        item-value="id"
                ></v-select>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelDuzenleMixin from '../../mixins/mainPanel/DuzenleMixin'
    export default {
        mixins: [ mainPanelDuzenleMixin ],
        data: () => ({
            selfData: {},
            selfID: null,

            apiResource: 'sinavalani',
            placeToReturn: 'sinavAlaniIndex',

            veriler: {
                sinav_alani_adi: '',
                sinav_alani_kati: '',
                sinav_alani_kod: '',
                sinav_alani_kapasitesi: null,
                sinav_alani_gerekli_gorevli_sayisi_sayisi: null,
                yerleske_id: null,
            },

            gerekliVeriler: {
                yerleske: {
                    data: [],
                    apiResource: 'yerleske',
                    errorReturn: 'yerleskeIndex',
                    errorMessages: "Sınav Alanı düzenlemek için öncelikle Yerleşke eklemeniz gerekir."
                },
            },

            sinav_alani_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 40) || 'Karakter Sınırını Aştınız.'
            ],
            sinav_alani_kati_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 30) || 'Karakter Sınırını Aştınız.'
            ],
            sinav_alani_kodu_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 30) || 'Karakter Sınırını Aştınız.'
            ],
            sinav_alani_kapasitesi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => /^\d+$/.test(v) || 'Girilen Veri Sayı Olmalıdır'
            ],
            sinav_alani_gerekli_gorevli_sayisi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => /^\d+$/.test(v) || 'Girilen Veri Sayı Olmalıdır',
            ],
            yerleske_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => /^\d+$/.test(v) || 'Girilen Veri Sayı Olmalıdır',
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Sınav Alanları',
                    disabled: false,
                    to: "/sinavalani"
                },
                {
                    text: 'Ekle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
        methods: {
            swap() {
                let app = this;

                app.veriler.sinav_alani_adi = app.selfData.sinav_alani_adi;
                app.veriler.sinav_alani_kati = app.selfData.sinav_alani_kati;
                app.veriler.sinav_alani_kodu = app.selfData.sinav_alani_kodu;
                app.veriler.sinav_alani_kapasitesi = app.selfData.sinav_alani_kapasitesi;
                app.veriler.sinav_alani_gerekli_gorevli_sayisi = app.selfData.sinav_alani_gerekli_gorevli_sayisi;
                app.veriler.yerleske_id = app.selfData.yerleske_id;
            }
        }
    }
</script>