<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-dialog v-model="detailDialog" persistent max-width="600">
            <v-card>
                <v-card-title class="headline">Detaylar</v-card-title>
                <div v-if="detailDialog">
                    <v-card-text>
                        <v-flex xs12><p>Kayıt Numarası : {{ detailDialogSelected.id }}</p></v-flex>
                        <v-flex xs12><p>Yerleşke Adı : {{ detailDialogSelected.yerleske.yerleske_adi }}</p></v-flex>
                        <v-flex xs12><p>Sınav Alanı Adı : {{ detailDialogSelected.sinav_alani_adi }}</p></v-flex>
                        <v-flex xs12><p>Sınav Alanı Kat : {{ detailDialogSelected.sinav_alani_kati }}</p></v-flex>
                        <v-flex xs12><p>Sınav Alanı No : {{ detailDialogSelected.sinav_alani_kodu }}</p></v-flex>
                        <v-flex xs12><p>Sınav Alanı Kapasite : {{ detailDialogSelected.sinav_alani_kapasitesi }}</p></v-flex>
                        <v-flex xs12><p>Gerekli Görevli Sayısı : {{ detailDialogSelected.sinav_alani_gerekli_gorevli_sayisi }}</p></v-flex>
                        <v-flex xs12><p>Oluşturulma Tarihi : {{ detailDialogSelected.created_at }}</p></v-flex>
                        <v-flex xs12><p>Son Güncellenme Tarihi : {{ detailDialogSelected.updated_at }}</p></v-flex>
                    </v-card-text>
                </div>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="detailDialog = false">Kapat</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="deleteDialog" persistent max-width="290">
            <v-card>
                <v-card-title class="headline">Pışt...</v-card-title>
                <v-card-text>Kaydı silmek istediğinden emin misin ?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="deleteDialog = false">Vazgeç</v-btn>
                    <v-btn color="red darken-1" flat @click.native="deleteEntry()">Sil <v-icon right>delete_forever</v-icon></v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-card-title>
            <v-btn :to="{name: 'sinavAlaniEkle', params: {status: true.toString()}}" color="primary" flat>Sınav Alanı Ekle <v-icon right>add</v-icon></v-btn>
            <v-spacer></v-spacer>
            <v-text-field append-icon="search" label="Ara..." single-line hide-details v-model="aranan"></v-text-field>
        </v-card-title>
        <v-data-table :headers="basliklar" :items="veriler" :search="aranan" :loading="loading">
            <v-progress-linear slot="progress" color="primary" indeterminate></v-progress-linear>
            <template slot="items" slot-scope="props">
                <td class="text-xs">{{ props.item.yerleske.yerleske_adi }}</td>
                <td class="text-xs">{{ props.item.sinav_alani_adi }}</td>
                <td class="text-xs">{{ props.item.sinav_alani_kati }}</td>
                <td class="text-xs">{{ props.item.sinav_alani_kodu }}</td>
                <td class="text-xs">{{ props.item.sinav_alani_kapasitesi }}</td>
                <td class="text-xs">{{ props.item.sinav_alani_gerekli_gorevli_sayisi }}</td>
                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="detailDialogOpen(props.item)">
                        <v-icon color="accent">info</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" :to="{name: 'sinavAlaniDuzenle', params: {id: props.item.id, status: true.toString()}}">
                        <v-icon color="accent">settings</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteDialogOpen(props.item)">
                        <v-icon color="accent">delete</v-icon>
                    </v-btn>
                </td>
            </template>
            <v-alert outline slot="no-data" :value="true" color="primary" icon="warning">
                Veri Bulunamadı
            </v-alert>
            <v-alert outline slot="no-results" :value="true" color="primary" icon="warning">
                Aradığınız  "{{ aranan }}" için sonuç bulunamadı.
            </v-alert>
        </v-data-table>
    </v-card>
</template>
<script>
    import mainPanelIndexMixin from '../../mixins/mainPanel/IndexMixin'
    export default {
        mixins: [ mainPanelIndexMixin ],
        data () {
            return {
                apiResource: 'sinavalani',

                basliklar: [
                    { text: 'Yerleşke Adı', value: 'yerleske.yerleske_adi'},
                    { text: 'Sınav Alanı Adı', value: 'sinav_alani_adi'},
                    { text: 'Sınav Alanı Katı', value: 'sinav_alani_kati'},
                    { text: 'Sınav Alanı Kodu', value: 'sinav_alani_kodu'},
                    { text: 'Sınav Alanı Kapasitesi', value: 'sinav_alani_kapasitesi'},
                    { text: 'Gerekli Görevli Sayısı', value: 'sinav_alani_gerekli_gorevli_sayisi'},
                    { text: 'Eylemler', value: 'eylemler', sortable: false,  width: '150px'},
                ],

                breadcrumbs: [
                    {
                        text: 'Anasayfa',
                        disabled: false,
                        to: "/"
                    },
                    {
                        text: 'Sınav Alanları',
                        disabled: true,
                        to: "/okul"
                    }
                ]
            }
        },
    }
</script>