<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Okul Adı"
                        v-model="veriler.okul_adi"
                        :rules="okul_adi_rules"
                        :counter="35"
                        required
                ></v-text-field>
                <v-select
                        :items="gerekliVeriler.yerleske.data"
                        v-model="veriler.yerleske_id"
                        :rules="yerleske_id_rules"
                        label="Yerleşke Seç"
                        item-text="yerleske_adi"
                        item-value="id"
                ></v-select>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelDuzenleMixin from '../../mixins/mainPanel/DuzenleMixin'
    export default {
        mixins: [ mainPanelDuzenleMixin ],
        data: () => ({
            selfData: {},
            selfID: null,

            apiResource: 'okul',
            placeToReturn: 'okulIndex',

            veriler: {
                okul_adi: '',
                yerleske_id: null,
            },

            gerekliVeriler: {
                yerleske: {
                    data: [],
                    apiResource: 'yerleske',
                    errorReturn: 'yerleskeIndex',
                    errorMessages: "Okul düzenlemek için öncelikle Yerleşke eklemeniz gerekir."
                },
            },

            okul_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 35) || 'Karakter Sınırını Aştınız.'
            ],
            yerleske_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Okullar',
                    disabled: false,
                    to: "/okul"
                },
                {
                    text: 'Düzenle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
        methods: {
            swap() {
                let app = this;

                app.veriler.okul_adi = app.selfData.okul_adi;
                app.veriler.yerleske_id = app.selfData.yerleske_id;
            }
        }
    }
</script>