<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Gözetmen Adı"
                        v-model="veriler.gozetmen_adi"
                        :rules="gozetmen_adi_rules"
                        :counter="30"
                        required
                ></v-text-field>
                <v-text-field
                        label="Gözetmen E-Posta"
                        v-model="veriler.gozetmen_eposta"
                        :rules="gozetmen_eposta_rules"
                        :counter="30"
                        required
                ></v-text-field>
                <v-text-field
                        label="Gözetmen Telefon"
                        v-model="veriler.gozetmen_telefon"
                        :rules="gozetmen_telefon_rules"
                        :counter="15"
                        required
                        mask='phone'
                ></v-text-field>
                <v-select
                        :items="gerekliVeriler.gozetmen_turu.data"
                        v-model="veriler.gozetmen_turu_id"
                        :rules="gozetmen_turu_id_rules"
                        label="Gözetmen Türü Seç"
                        item-text="gozetmen_turu_adi"
                        item-value="id"
                ></v-select>
                <v-select
                        :items="gerekliVeriler.bolum.data"
                        v-model="veriler.bolum_id"
                        :rules="bolum_id_rules"
                        label="Bölüm Seç"
                        item-text="bolum_adi"
                        item-value="id"
                ></v-select>
                <v-layout row>
                    <v-avatar slot="activator" size="50px" style="margin-right: 15px">
                        <img v-if="files['gozetmen_resim'].url" :src="files['gozetmen_resim'].url" alt="">
                        <v-icon size="50px" v-else>account_circle</v-icon>
                    </v-avatar>
                    <v-text-field readonly label="Gözetmen Resimi" @click='pickFile' v-model="files['gozetmen_resim'].filename"></v-text-field>
                    <input type="file" style="display: none" ref="image" accept="image/*" @change="onFileChange($event, 'gozetmen_resim')">
                    <v-tooltip left>
                        <v-btn @click="deleteFile('gozetmen_resim')" flat icon slot="activator"><v-icon>delete_forever</v-icon></v-btn>
                        <span>Seçilmiş veya Sisteme kayıtlı olan veriyi siler</span>
                    </v-tooltip>
                </v-layout>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelDuzenleMixin from '../../mixins/mainPanel/DuzenleMixin'
    export default {
        mixins: [ mainPanelDuzenleMixin ],
        data: () => ({
            selfData: {},
            selfID: null,

            apiResource: 'gozetmen',
            placeToReturn: 'gozetmenIndex',

            fileDirectory: {
                gozetmen_resim: {main: 'uploads/gozetmen_resim/', thumb: 'uploads/gozetmen_resim/thumb/'}
            },

            files: {
                gozetmen_resim : {
                    filename: '',
                    url: '',
                    file: '',
                },
            },

            veriler: {
                gozetmen_adi: '',
                gozetmen_eposta: '',
                gozetmen_telefon: '',
                gozetmen_resim: 'same',
                bolum_id: null,
                gozetmen_turu_id: null,
            },

            gerekliVeriler: {
                bolum: {
                    data: [],
                    apiResource: 'bolum',
                    errorReturn: 'bolumIndex',
                    errorMessages: "Gözetmen eklemek için öncelikle Bölüm eklemeniz gerekir."
                },
                gozetmen_turu: {
                    data: [],
                    apiResource: 'gozetmenturu',
                    errorReturn: 'gozetmenTuruIndex',
                    errorMessages: "Gözetmen eklemek için öncelikle Gözetmen Türü eklemeniz gerekir."
                },
            },

            gozetmen_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 30) || 'Karakter Sınırını Aştınız.'
            ],
            gozetmen_eposta_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 30) || 'Karakter Sınırını Aştınız.',
                v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Geçersiz E-Posta adresi'
            ],
            gozetmen_telefon_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 15) || 'Karakter Sınırını Aştınız.',
                v => /^\d+$/.test(v) || 'Girilen Veri Sayı Olmalıdır'
            ],
            bolum_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
            ],
            gozetmen_turu_id_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Gözetmenler',
                    disabled: false,
                    to: "/gozetmen"
                },
                {
                    text: 'Düzenle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
        methods: {
            swap() {
                let app = this;

                app.veriler.gozetmen_adi = app.selfData.gozetmen_adi;
                app.veriler.gozetmen_eposta = app.selfData.gozetmen_eposta;
                app.veriler.gozetmen_telefon = app.selfData.gozetmen_telefon;
                app.veriler.bolum_id = app.selfData.bolum_id;
                app.veriler.gozetmen_turu_id = app.selfData.gozetmen_turu_id;

                if (app.selfData.gozetmen_resim !== 'null') {
                    app.files.gozetmen_resim.url = app.fileDirectory.gozetmen_resim.main + app.selfData.gozetmen_resim;
                    app.files.gozetmen_resim.filename = app.selfData.gozetmen_resim;
                }
            }
        }
    }
</script>