<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-dialog v-model="detailDialog" persistent max-width="600">
            <v-card>
                <v-card-title class="headline">Detaylar</v-card-title>
                <div v-if="detailDialog">
                    <v-card-text>
                        <v-flex xs12><p>Kayıt Numarası : {{ detailDialogSelected.id }}</p></v-flex>
                        <v-flex xs12>
                            <p>
                                Gözetmen Resim :
                                <v-avatar slot="activator" size="100px" style="margin-right: 15px">
                                    <img v-if="detailDialogSelected.gozetmen_resim !==  'null'" :src="fileDirectory.gozetmen_resim.main + detailDialogSelected.gozetmen_resim" alt="">
                                    <v-icon size="100px" v-else>account_circle</v-icon>
                                </v-avatar>
                            </p>
                        </v-flex>
                        <v-flex xs12><p>Gözetmen Adı : {{ detailDialogSelected.gozetmen_adi }}</p></v-flex>
                        <v-flex xs12><p>Gözetmen E-Posta : {{ detailDialogSelected.gozetmen_eposta }}</p></v-flex>
                        <v-flex xs12><p>Gözetmen Telefon : {{ detailDialogSelected.gozetmen_telefon }}</p></v-flex>
                        <v-flex xs12><p>Gözetmen Türü Adı : {{ detailDialogSelected.gozetmen_turu.gozetmen_turu_adi }}</p></v-flex>
                        <v-flex xs12><p>Gözetmen Türü Görev Limiti : {{ detailDialogSelected.gozetmen_turu.gozetmen_turu_gorev_limiti }}</p></v-flex>
                        <v-flex xs12><p>Okul Adı : {{ detailDialogSelected.bolum.okul.okul_adi }}</p></v-flex>
                        <v-flex xs12><p>Bölüm Adı : {{ detailDialogSelected.bolum.bolum_adi }}</p></v-flex>
                        <v-flex xs12><p>Oluşturulma Tarihi : {{ detailDialogSelected.created_at }}</p></v-flex>
                        <v-flex xs12><p>Son Güncellenme Tarihi : {{ detailDialogSelected.updated_at }}</p></v-flex>
                    </v-card-text>
                </div>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="detailDialog = false">Kapat</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="deleteDialog" persistent max-width="290">
            <v-card>
                <v-card-title class="headline">Pışt...</v-card-title>
                <v-card-text>Kaydı silmek istediğinden emin misin ?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="deleteDialog = false">Vazgeç</v-btn>
                    <v-btn color="red darken-1" flat @click.native="deleteEntry()">Sil <v-icon right>delete_forever</v-icon></v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-card-title>
            <v-btn :to="{name: 'gozetmenEkle', params: {status: true.toString()}}" color="primary" flat>Gözetmen Ekle <v-icon right>add</v-icon></v-btn>
            <v-spacer></v-spacer>
            <v-text-field append-icon="search" label="Ara..." single-line hide-details v-model="aranan"></v-text-field>
        </v-card-title>
        <v-data-table :headers="basliklar" :items="veriler" :search="aranan" :loading="loading">
            <v-progress-linear slot="progress" color="primary" indeterminate></v-progress-linear>
            <template slot="items" slot-scope="props">
                <td class="text-xs">
                    <v-avatar slot="activator" size="30px" style="margin-right: 15px">
                        <img v-if="props.item.gozetmen_resim !==  'null'" :src="fileDirectory.gozetmen_resim.thumb + props.item.gozetmen_resim" alt="">
                        <v-icon size="30px" v-else>account_circle</v-icon>
                    </v-avatar>
                </td>
                <td class="text-xs">{{ props.item.gozetmen_adi }}</td>
                <td class="text-xs">{{ props.item.gozetmen_eposta }}</td>
                <td class="text-xs">{{ props.item.gozetmen_telefon }}</td>
                <td class="text-xs">{{ props.item.gozetmen_turu.gozetmen_turu_adi }}</td>
                <td class="text-xs">{{ props.item.bolum.okul.okul_adi }}</td>
                <td class="text-xs">{{ props.item.bolum.bolum_adi }}</td>
                <td>
                    <v-btn icon class="mx-0" :to="{name: 'gozetmenIzın', params: {id: props.item.id, status: true.toString()}}">
                        <v-icon color="accent">access_time</v-icon>
                    </v-btn>
                </td>
                <td class="justify-center layout px-0">
                    <v-btn icon class="mx-0" @click="detailDialogOpen(props.item)">
                        <v-icon color="accent">info</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" :to="{name: 'gozetmenDuzenle', params: {id: props.item.id, status: true.toString()}}">
                        <v-icon color="accent">settings</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteDialogOpen(props.item)">
                        <v-icon color="accent">delete</v-icon>
                    </v-btn>
                </td>
            </template>
            <v-alert outline slot="no-data" :value="true" color="primary" icon="warning">
                Veri Bulunamadı
            </v-alert>
            <v-alert outline slot="no-results" :value="true" color="primary" icon="warning">
                Aradığınız  "{{ aranan }}" için sonuç bulunamadı.
            </v-alert>
        </v-data-table>
    </v-card>
</template>
<script>
    import mainPanelIndexMixin from '../../mixins/mainPanel/IndexMixin'
    export default {
        mixins: [ mainPanelIndexMixin ],
        data () {
            return {
                apiResource: 'gozetmen',

                fileDirectory: {
                    gozetmen_resim: {main: 'uploads/gozetmen_resim/', thumb: 'uploads/gozetmen_resim/thumb/'}
                },

                basliklar: [
                    { text: 'Resim', value: 'gozetmen_adi', sortable: false},
                    { text: 'Gözetmen Adı', value: 'gozetmen_adi'},
                    { text: 'Gözetmen E-Posta', value: 'gozetmen_eposta'},
                    { text: 'Gözetmen Telefon', value: 'gozetmen_telefon'},
                    { text: 'Gözetmen Türü', value: 'gozetmen_turu.gozetmen_turu_adi'},
                    { text: 'Okul Adı', value: 'bolum.okul.okul_adi'},
                    { text: 'Bölüm Adı Adı', value: 'bolum.bolum_adi'},
                    { text: 'İzinler', value: 'izinler', sortable: false,  width: '150px'},
                    { text: 'Eylemler', value: 'eylemler', sortable: false,  width: '150px'},
                ],

                breadcrumbs: [
                    {
                        text: 'Anasayfa',
                        disabled: false,
                        to: "/"
                    },
                    {
                        text: 'Gözetmenler',
                        disabled: true,
                        to: "/gozetmen"
                    }
                ]
            }
        },
    }
</script>