<template>
    <v-layout row wrap>
        <v-flex md12>
            <v-card>
                <v-dialog v-model="editDialog" persistent max-width="290">
                    <v-card>
                        <v-card-title class="headline">Düzenle</v-card-title>
                        <v-card-text>
                            <v-form v-model="valid2" ref="form2" lazy-validation>
                                <v-menu ref="menu4" :close-on-content-click="false" v-model="menu4" :nudge-right="40" :return-value.sync="tarih2" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                    <v-text-field :rules="tarih_rules" required slot="activator" v-model="tarih2" label="İzin Günü" prepend-icon="event" readonly></v-text-field>
                                    <v-date-picker v-model="tarih2" no-title scrollable locale="tr-tr">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="menu4 = false">Geri</v-btn>
                                        <v-btn flat color="primary" @click="$refs.menu4.save(tarih2)">Tamam</v-btn>
                                    </v-date-picker>
                                </v-menu>
                                <v-menu ref="menu5" :close-on-content-click="false" v-model="menu5" :nudge-right="40" :return-value.sync="baslangic2" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                    <v-text-field :rules="baslangic_rules" required slot="activator" v-model="baslangic2" label="Başlangıç Saati" prepend-icon="access_time" readonly></v-text-field>
                                    <v-time-picker v-model="baslangic2" format="24hr" @change="$refs.menu5.save(baslangic2)"></v-time-picker>
                                </v-menu>
                                <v-menu ref="menu6" :close-on-content-click="false" v-model="menu6" :nudge-right="40" :return-value.sync="bitis2" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                    <v-text-field :rules="bitis_rules" required slot="activator" v-model="bitis2" label="Bitiş Saati" prepend-icon="access_time" readonly></v-text-field>
                                    <v-time-picker v-model="bitis2" format="24hr" @change="$refs.menu6.save(bitis2)"></v-time-picker>
                                </v-menu>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat @click.native="editDialog = false">Vazgeç</v-btn>
                            <v-btn color="primary" flat :disabled="!valid2" @click.native="editItem()">Düzenle <v-icon right>edit</v-icon></v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="deleteDialog" persistent max-width="290">
                    <v-card>
                        <v-card-title class="headline">Pışt...</v-card-title>
                        <v-card-text>silmek istediğinden emin misin ?</v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat @click.native="deleteDialog = false">Vazgeç</v-btn>
                            <v-btn color="red darken-1" flat @click.native="deleteItem()">Sil <v-icon right>delete_forever</v-icon></v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-snackbar :timeout='snackbarTimeout' :color="snackbarType" v-model="snackbarStatus">
                    {{ snackbarMessage }}
                    <v-btn dark flat @click.native="snackbarStatus = false">Kapat</v-btn>
                </v-snackbar>
                <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
                    <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
                </v-breadcrumbs>
                <v-divider class="mt-1"></v-divider>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xs12 sm2 md1>
                            <p>
                                <v-avatar slot="activator" size="4rem">
                                    <img v-if="veriler.resim !==  'null'" :src="fileDirectory.gozetmen_resim.main + veriler.resim" alt="">
                                    <v-icon size="4rem" v-else>account_circle</v-icon>
                                </v-avatar>
                            </p>
                        </v-flex>
                        <v-flex xs12 sm10 md11>
                            <v-layout row wrap>
                                <v-flex xs12 sm6 md4>
                                    <p>Gözetmen Adı: {{ veriler.adi }}</p>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <p>Gözetmen E-posta: {{ veriler.eposta }}</p>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <p>Gözetmen Telefon: {{ veriler.telefon }}</p>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <p>Gözetmen Telefon: {{ veriler.tur }}</p>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <p>Okul Adı: {{ veriler.bolum }}</p>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <p>Bölüm Adı: {{ veriler.okul }}</p>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider style="margin-top: -1rem"></v-divider>
                <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                        <v-layout row wrap align-center>
                            <v-flex xs12 sm4 md4 px-2>
                                <v-menu ref="menu" :close-on-content-click="false" v-model="menu" :nudge-right="40" :return-value.sync="tarih" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                    <v-text-field :rules="tarih_rules" required slot="activator" v-model="tarih" label="İzin Günü" prepend-icon="event" readonly></v-text-field>
                                    <v-date-picker v-model="tarih" no-title scrollable locale="tr-tr">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="menu = false">Geri</v-btn>
                                        <v-btn flat color="primary" @click="$refs.menu.save(tarih)">Tamam</v-btn>
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm3 md3 px-2>
                                <v-menu ref="menu2" :close-on-content-click="false" v-model="menu2" :nudge-right="40" :return-value.sync="baslangic" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                    <v-text-field :rules="baslangic_rules" required slot="activator" v-model="baslangic" label="Başlangıç Saati" prepend-icon="access_time" readonly></v-text-field>
                                    <v-time-picker v-model="baslangic" format="24hr" @change="$refs.menu2.save(baslangic)"></v-time-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm3 md3 px-2>
                                <v-menu ref="menu3" :close-on-content-click="false" v-model="menu3" :nudge-right="40" :return-value.sync="bitis" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                    <v-text-field :rules="bitis_rules" required slot="activator" v-model="bitis" label="Bitiş Saati" prepend-icon="access_time" readonly></v-text-field>
                                    <v-time-picker v-model="bitis" format="24hr" @change="$refs.menu3.save(bitis)"></v-time-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm2 md2 text-xs-center>
                                <v-btn @click="add" :disabled="!valid" color="primary" flat>Ekle <v-icon right>add</v-icon></v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-data-table :items="izinler" class="elevation-1" hide-actions hide-headers>
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.tarih }}  - Başlanğıç : {{ props.item.baslangic }}, Bitiş : {{ props.item.bitis }}</td>
                        <td class="text-xs-right">
                            <v-btn icon class="mx-0" @click="editDialogOpen(props.item)">
                                <v-icon color="accent">settings</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="deleteDialogOpen(props.item)">
                                <v-icon color="accent">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>
                    <template slot="no-data"><div class="text-center">Şuan için bir izin tanımlanmamış</div></template>
                </v-data-table>
                <v-card-actions>
                    <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
                    <v-spacer></v-spacer>
                    <v-tooltip left>
                        <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                        <span>Temizle ve Yenile</span>
                    </v-tooltip>
                    <v-btn :loading="loading" @click="submit" :disabled="loading" color="primary" flat>Kaydet <v-icon right>save</v-icon></v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    import tanimliMesajlarMixin from '../../mixins/tanimliMesajlarMixin'
    export default {
        mixins: [ tanimliMesajlarMixin ],
        data () {
            return {
                valid: false,
                valid2: false,

                loading: false,
                placeToReturn: 'gozetmenIndex',

                fileDirectory: {
                    gozetmen_resim: {main: 'uploads/gozetmen_resim/', thumb: 'uploads/gozetmen_resim/thumb/'}
                },

                selectedItem: null,
                editDialog: false,
                deleteDialog: false,

                snackbarStatus: false,
                snackbarMessage: null,
                snackbarType: 'success',
                snackbarTimeout: 4000,

                selfData: [],
                selfID: null,
                veriler: {},
                izinler: [],

                baslangic: null, baslangic2: null, bitis: null, bitis2: null, tarih: null, tarih2: null,

                menu: null, menu2: null, menu3: null, menu4: null, menu5: null, menu6: null,

                tarih_rules: [
                    v => !!v || 'Bu Kısım Gereklidir.',
                ],
                baslangic_rules: [
                    v => !!v || 'Bu Kısım Gereklidir.',
                ],
                bitis_rules: [
                    v => !!v || 'Bu Kısım Gereklidir.',
                ],

                breadcrumbs: [
                    {
                        text: 'Anasayfa',
                        disabled: false,
                        to: "/"
                    },
                    {
                        text: 'Gözetmenler',
                        disabled: true,
                        to: "/gozetmen"
                    },
                    {
                        text: 'İzinler',
                        disabled: true,
                        to: "/gozetmen/izin"
                    }
                ]
            }
        },
        mounted() {
            let app = this;

            app.selfID = app.$route.params.id;
            app.loading = true;

            axios.get('/api/v1/gozetmenizin/' + app.selfID)
                .then(function (resp) {
                    app.selfData = resp.data;
                    app.swap();
                    app.loading = false;
                })
                .catch(function (resp) {
                    app.loading = false;
                    console.log(resp);
                    app.$router.push({name: app.placeToReturn, params: {alert: {alertMessage: app.tanimliMesajlar.agHatasi, alertType: "error"}}});
                });
        },
        methods: {
            compareTime(str1, str2){
                if(str1 === str2) { return false; }

                let time1 = str1.split(':').filter(item => item);
                let time2 = str2.split(':').filter(item => item);

                for (let i = 0; i < time1.length; i++) {
                    if(time1[i] > time2[i]) { return true; } else if(time1[i] < time2[i]) { return false; }
                }
            },
            add() {
                if (this.$refs.form.validate()) {
                    let app = this;

                    if (app.compareTime(app.bitis, app.baslangic)) {
                        app.izinler.push({tarih: app.tarih, baslangic: app.baslangic, bitis: app.bitis});

                        app.snackbarMessage = "Başarıyla Eklendi";
                        app.snackbarStatus = true;
                        app.snackbarType = "success";
                    } else {
                        app.snackbarMessage = "Başlangıç saati Bitiş saatinden önce olmalıdır";
                        app.snackbarStatus = true;
                        app.snackbarType = "warning";
                    }
                }
            },
            deleteDialogOpen(item) {
                let app = this;
                app.selectedItem = item;

                app.deleteDialog = true;
            },
            deleteItem() {
                let app = this;
                let index = app.izinler.indexOf(app.selectedItem);

                app.izinler.splice(index, 1);

                app.deleteDialog = false;
                app.snackbarMessage = "Başarıyla Silindi";
                app.snackbarStatus = true;
                app.snackbarType = "success";
            },
            editDialogOpen(item) {
                let  app = this;

                app.baslangic2 = item.baslangic; app.bitis2 = item.bitis; app.tarih2 = item.tarih;
                app.selectedItem = item;
                app.editDialog = true;
            },
            editItem() {
                if (this.$refs.form2.validate()) {
                    let  app = this;

                    let index = app.izinler.indexOf(app.selectedItem);

                    if (app.compareTime(app.bitis2, app.baslangic2)) {
                        app.izinler[index].tarih = app.tarih2;
                        app.izinler[index].baslangic = app.baslangic2;
                        app.izinler[index].bitis = app.bitis2;

                        app.editDialog = false;

                        app.snackbarMessage = "Başarıyla Düzenlendi";
                        app.snackbarStatus = true;
                        app.snackbarType = "success";

                        setTimeout(function() {
                            app.baslangic2 = null; app.bitis2 = null; app.tarih2 = null;
                            app.selectedItem = null;
                        }, 1000);
                    } else {
                        app.snackbarMessage = "Başlangıç saati Bitiş saatinden önce olmalıdır";
                        app.snackbarStatus = true;
                        app.snackbarType = "warning";
                    }
                }
            },
            clear() {
                let  app = this;

                app.baslangic = null; app.bitis = null; app.tarih = null;
                app.baslangic2 = null; app.bitis2 = null; app.tarih2 = null;
                app.izinler = [];
                app.selectedItem = null;
            },
            submit() {
                let app = this;

                app.loading = true;

                axios.patch('/api/v1/gozetmenizin/'+app.selfID, {izinler: app.izinler})
                    .then(function (resp) {
                        app.loading = false;
                        console.log(resp);
                        app.$router.push({name: app.placeToReturn, params: {alert: {alertMessage: app.tanimliMesajlar.kaydedildi, alertType: "success"}}});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        app.loading = false;
                        app.snackbarStatus = true; app.snackbarMessage = app.tanimliMesajlar.agHatasi; app.snackbarType = 'error'
                    });
            },
            swap() {
                let app = this;

                if (app.selfData.gozetmen_izin === null) {
                    app.izinler = [];
                } else {
                    app.izinler = JSON.parse(app.selfData.gozetmen_izin);
                }

                app.veriler.adi = app.selfData.gozetmen_adi;
                app.veriler.telefon = app.selfData.gozetmen_telefon;
                app.veriler.eposta = app.selfData.gozetmen_eposta;
                app.veriler.tur = app.selfData.gozetmen_turu.gozetmen_turu_adi;
                app.veriler.okul = app.selfData.bolum.okul.okul_adi;
                app.veriler.bolum = app.selfData.bolum.bolum_adi;
                app.veriler.resim = app.selfData.gozetmen_resim;
            }
        }
    }
</script>