<template>
    <v-card>
        <v-alert v-if="alertStatus" :type="alertType" :value="true">
            {{ alertMessage }}
        </v-alert>
        <v-breadcrumbs class="breadcrumbs-my-style" divider="/">
            <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.text" :disabled="item.disabled" :to="item.to">{{ item.text }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-divider class="mt-1"></v-divider>
        <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                        label="Ders Adı"
                        v-model="veriler.ders_adi"
                        :rules="ders_adi_rules"
                        :counter="50"
                        required
                ></v-text-field>
                <v-text-field
                        label="Ders Kodu"
                        v-model="veriler.ders_kodu"
                        :rules="ders_kodu_rules"
                        :counter="40"
                        required
                ></v-text-field>
            </v-form>
        </v-card-text>
        <v-divider class="mt-1"></v-divider>
        <v-card-actions>
            <v-btn @click="$router.back()" flat><v-icon left>arrow_back</v-icon> Geri</v-btn>
            <v-spacer></v-spacer>
            <v-tooltip left>
                <v-btn @click="clear" flat icon slot="activator"><v-icon>refresh</v-icon></v-btn>
                <span>Temizle ve Yenile</span>
            </v-tooltip>
            <v-btn :loading="loading" @click="submit" :disabled="!valid || loading" color="primary" flat>Gönder <v-icon right>send</v-icon></v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import mainPanelEkleMixin from '../../mixins/mainPanel/EkleMixin'
    export default {
        mixins: [ mainPanelEkleMixin ],
        data: () => ({
            apiResource: 'ders',
            placeToReturn: 'dersIndex',

            veriler: {
                ders_adi: '',
                ders_kodu: ''
            },

            ders_adi_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 50) || 'Karakter Sınırını Aştınız.'
            ],
            ders_kodu_rules: [
                v => !!v || 'Bu Kısım Gereklidir.',
                v => (v && v.length <= 40) || 'Karakter Sınırını Aştınız.'
            ],

            breadcrumbs: [
                {
                    text: 'Anasayfa',
                    disabled: false,
                    to: "/"
                },
                {
                    text: 'Dersler',
                    disabled: false,
                    to: "/ders"
                },
                {
                    text: 'Ekle',
                    disabled: true,
                    to: null,
                }
            ]
        }),
    }
</script>